
<app-weblayout></app-weblayout>










<!--




<div fxLayout ="column" >
   
  <div fxLayout ="row" fxLayoutAlign="start stretch">

    
      <div fxFlex="grow" fxFlex.gt-sm="170px"  >
          <md-toolbar color="primary"><span> sreenidha </span> </md-toolbar>          
      </div>
      <div fxFlex="grow" fxHide.lt-sm="true">
          <md-toolbar >Nirudhi</md-toolbar>
          
      </div>
  
</div>

  <div fxLayout ="row">
      <md-card fxFlex fxFlexAlign="center" color ="primary" style="margin-bottom: 16px;height: 60px;">
          <div><span id="site-name">Some sort of a title goes here...</span></div>
      </md-card>
  </div>

  <div fxFlex>


      <md-sidenav-container>
          <md-sidenav mode="side" opened="true" #navss>
            <!-- sidenav content --
            Drawer content
            <button md-button (click)=navss.close()>close</button>
          </md-sidenav>
            <div class="my-content">Main content
            <!-- primary content --
            <button md-button (click)=navss.open()>open</button>
          </div>
        </md-sidenav-container>
  </div>


</div-->

